{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}
<h1 class="text-center pt-2">Liste des catégories</h1>
<div class="row">
{% for laCategorie in lesCategories %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 ">
        <div class="card mb-3">
                <h4 class="card-header">{{ laCategorie.libelle}}</h4>
                <img src="{{laCategorie.image}}" class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" style="font-size:1.125rem;text-anchor:middle">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ laCategorie.description}}</li>

                </ul>
                <div class="card-body">
                    <a href="{{path('app_contacts_controller', {'id': laCategorie.id })}}" class="btn btn-success btn-block text-center ">Détail ...</a>
                </div>  
            </div>
        </div>
{% endfor %}
</div> 
{% block body %}

{% endblock %}
